# Logs
logs
*.log
npm-debug.log*
yarn-debug.log*
yarn-error.log*
lerna-debug.log*

coverage

# Dependency directories
node_modules

# npm settings
.npmrc

# Build artifacts
dist/

# IDE settings
.vscode
.idea

# Snyk
.dccache